<div class="general">
  <!-- Image previewer-->
  <%= render 'shared/preview' %>

  <div class="pos-rel col-white gradient-to-black" style="z-index: 3;width:100vw;">
    <div class="inner">
      <h1 class="fw-200 shad-retro sub-header" style="margin: 0px;" style="font-size:24px !important;">Artwork For Sale</h1>
    </div>
  </div>
  <span class="borderBottom" style="z-index: 3;"></span>
  <!-- Art grid system -->
  <div class="container">
    <div class="inner">
      <div class="text-wrapper">
        <p style="font-size:20px;">The following pieces of art below are currently for sale. If you're interested, please reach out to me.</p>
        <hr style="margin-bottom:25px;">
      </div>
      <div class="artwork-wrapper pos-rel">
        <%= render :partial => "shared/images", object: @for_sale, as: 'images' %>
      </div>
      <hr>
      <img class="pos-rel" src="../../assets/general/signature_black.png" style="width:300px;height:auto;float:right">
    </div>
  </div>

  <!-- Footer -->
  <span class="borderTop" style="z-index: 3;top: 2px;"></span>
  <footer class="gradient-from-black">
    <div class="pos-rel inner shad-retro" style="top:12px;font-size:32px;">
      Copyright &copy; Peter McBurney 2016
    </div>
  </footer>
</div>
