<div class="general">
  <!-- IMAGE PREVIEWER -->
  <summary>
    <img id="img-active" src="assets/artwork/paintings/osprey.jpg">
    <div class="text-active">
      <h2>African Elephant</h2>
      <hr>
      <p>Image Info - arcylic on canvas, 101.6x76cm <b style="float:right;">$1000</b></p>
    </div>
    <img id="x" src="assets/general/x.png">
    <img id="arrow-left" src="assets/general/arrow-left.png">
    <img id="arrow-right" src="assets/general/arrow-right.png">
  </summary>

  <div class="pos-rel col-white gradient-to-black" style="z-index: 3;width:100vw;">
    <div class="inner">
      <h1 class="fw-200 shad-retro sub-header" style="margin: 0px;" style="font-size:24px !important;">Featured Artwork</h1>
    </div>
  </div>
  <span class="borderBottom" style="z-index: 3;"></span>
  <!-- art grid system -->
  <div class="container">
    <div class="inner">
      <div class="text-wrapper">
        <p style="font-size:20px;">Here are a few featured images from my collection.</p>
        <hr style="margin-bottom:25px;">
      </div>
      <div class="artwork-wrapper pos-rel">

        <!-- art -->
        <div class="float-left">
          <div id="img0" class="image margin-left-large" style="background:url(assets/artwork/paintings/osprey.jpg);background-size:contain;">
            <div class="art-text">
              <h3 class="pos-abs col-white" style="left:5px;margin:5px 0px;opacity:1 !important">Image Title</h3>
              <hr class="pos-abs" style="width:100%;top:30px;">
              <p class="pos-abs col-white" style="top:25px;left:5px;opacity:1 !important">Image text - Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc venenatis tellus nec luctus tincidunt. Nam congue blandit dolor quis consectetur.</p>
            </div>
          </div>
        </div>
        <!-- end -->

        <div class="float-left"><div id="img1" class="image margin-left-large" style="background:url(assets/artwork/paintings/Orca.jpg);background-size:cover;background-position: center center;"><div class="art-text"><h3 class="pos-abs col-white" style="left:5px;margin:5px 0px;opacity:1 !important">Image Title</h3><hr class="pos-abs" style="width:100%;top:30px;"><p class="pos-abs col-white" style="top:25px;left:5px;opacity:1 !important">Image text - Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc venenatis tellus nec luctus tincidunt. Nam congue blandit dolor quis consectetur.</p></div></div></div>
        <div class="float-left"><div id="img2" class="image margin-left-large" style="background:url(assets/artwork/paintings/lobo.jpg);background-size:cover;background-position: center center;"><div class="art-text"><h3 class="pos-abs col-white" style="left:5px;margin:5px 0px;opacity:1 !important">Image Title</h3><hr class="pos-abs" style="width:100%;top:30px;"><p class="pos-abs col-white" style="top:25px;left:5px;opacity:1 !important">Image text - Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc venenatis tellus nec luctus tincidunt. Nam congue blandit dolor quis consectetur.</p></div></div></div>
        <div class="float-left"><div id="img3" class="image margin-left-large" style="background:url(assets/artwork/paintings/loon.jpg);background-size:cover;background-position: center center;"><div class="art-text"><h3 class="pos-abs col-white" style="left:5px;margin:5px 0px;opacity:1 !important">Image Title</h3><hr class="pos-abs" style="width:100%;top:30px;"><p class="pos-abs col-white" style="top:25px;left:5px;opacity:1 !important">Image text - Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc venenatis tellus nec luctus tincidunt. Nam congue blandit dolor quis consectetur.</p></div></div></div>
        <div class="float-left"><div id="img4" class="image margin-left-large" style="background:url(assets/artwork/paintings/abu.jpg);background-size:cover;background-position: center center;"><div class="art-text"><h3 class="pos-abs col-white" style="left:5px;margin:5px 0px;opacity:1 !important">Image Title</h3><hr class="pos-abs" style="width:100%;top:30px;"><p class="pos-abs col-white" style="top:25px;left:5px;opacity:1 !important">Image text - Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc venenatis tellus nec luctus tincidunt. Nam congue blandit dolor quis consectetur.</p></div></div></div>
        <div class="float-left"><div id="img5" class="image margin-left-large" style="background:url(assets/artwork/paintings/chickadees.jpg);background-size:cover;background-position: center center;"><div class="art-text"><h3 class="pos-abs col-white" style="left:5px;margin:5px 0px;opacity:1 !important">Image Title</h3><hr class="pos-abs" style="width:100%;top:30px;"><p class="pos-abs col-white" style="top:25px;left:5px;opacity:1 !important">Image text - Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc venenatis tellus nec luctus tincidunt. Nam congue blandit dolor quis consectetur.</p></div></div></div>
        <div class="float-left"><div id="img6" class="image margin-left-large" style="background:url(assets/artwork/paintings/muskoka_morning.jpg);background-size:cover;background-position: center center;"><div class="art-text"><h3 class="pos-abs col-white" style="left:5px;margin:5px 0px;opacity:1 !important">Image Title</h3><p class="pos-abs col-white" style="top:25px;left:5px;opacity:1 !important">Image text - Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc venenatis tellus nec luctus tincidunt. Nam congue blandit dolor quis consectetur.</p></div></div></div>
        <div class="float-left"><div id="img7" class="image margin-left-large" style="background:url(assets/artwork/paintings/sylva_closeup.jpg);background-size:cover;background-position: center center;"><div class="art-text"><h3 class="pos-abs col-white" style="left:5px;margin:5px 0px;opacity:1 !important">Image Title</h3><p class="pos-abs col-white" style="top:25px;left:5px;opacity:1 !important">Image text - Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc venenatis tellus nec luctus tincidunt. Nam congue blandit dolor quis consectetur.</p></div></div></div>
        <div class="float-left"><div id="img8" class="image margin-left-large" style="background:url(assets/artwork/paintings/silent_anticipation.jpg);background-size:cover;background-position: center center;"><div class="art-text"><h3 class="pos-abs col-white" style="left:5px;margin:5px 0px;opacity:1 !important">Image Title</h3><p class="pos-abs col-white" style="top:25px;left:5px;opacity:1 !important">Image text - Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc venenatis tellus nec luctus tincidunt. Nam congue blandit dolor quis consectetur.</p></div></div></div>
        <div class="float-left"><div id="img9" class="image margin-left-large" style="background:url(assets/artwork/paintings/sphinx_of_giza.jpg);background-size:cover;background-position: center center;"><div class="art-text"><h3 class="pos-abs col-white" style="left:5px;margin:5px 0px;opacity:1 !important">Image Title</h3><p class="pos-abs col-white" style="top:25px;left:5px;opacity:1 !important">Image text - Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc venenatis tellus nec luctus tincidunt. Nam congue blandit dolor quis consectetur.</p></div></div></div>
        <div class="float-left"><div id="img10" class="image margin-left-large" style="background:url(assets/artwork/paintings/Patience.jpg);background-size:cover;background-position: center center;"><div class="art-text"><h3 class="pos-abs col-white" style="left:5px;margin:5px 0px;opacity:1 !important">Image Title</h3><p class="pos-abs col-white" style="top:25px;left:5px;opacity:1 !important">Image text - Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc venenatis tellus nec luctus tincidunt. Nam congue blandit dolor quis consectetur.</p></div></div></div>
        <div class="float-left"><div id="img11" class="image margin-left-large" style="background:url(assets/artwork/paintings/northern_encounter.jpg);background-size:cover;background-position: center center;"><div class="art-text"><h3 class="pos-abs col-white" style="left:5px;margin:5px 0px;opacity:1 !important">Image Title</h3><p class="pos-abs col-white" style="top:25px;left:5px;opacity:1 !important">Image text - Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc venenatis tellus nec luctus tincidunt. Nam congue blandit dolor quis consectetur.</p></div></div></div>
        <div class="float-left"><div id="img12" class="image margin-left-large" style="background:url(assets/artwork/paintings/point_ideal.jpg);background-size:cover;background-position: center center;"><div class="art-text"><h3 class="pos-abs col-white" style="left:5px;margin:5px 0px;opacity:1 !important">Image Title</h3><p class="pos-abs col-white" style="top:25px;left:5px;opacity:1 !important">Image text - Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc venenatis tellus nec luctus tincidunt. Nam congue blandit dolor quis consectetur.</p></div></div></div>
        <div class="float-left"><div id="img13" class="image margin-left-large" style="background:url(assets/artwork/paintings/Parthenon.jpg);background-size:cover;background-position: center center;"><div class="art-text"><h3 class="pos-abs col-white" style="left:5px;margin:5px 0px;opacity:1 !important">Image Title</h3><p class="pos-abs col-white" style="top:25px;left:5px;opacity:1 !important">Image text - Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc venenatis tellus nec luctus tincidunt. Nam congue blandit dolor quis consectetur.</p></div></div></div>
        <div class="float-left"><div id="img14" class="image margin-left-large" style="background:url(assets/artwork/paintings/breaching_orca.jpg);background-size:cover;background-position: center center;"><div class="art-text"><h3 class="pos-abs col-white" style="left:5px;margin:5px 0px;opacity:1 !important">Image Title</h3><p class="pos-abs col-white" style="top:25px;left:5px;opacity:1 !important">Image text - Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc venenatis tellus nec luctus tincidunt. Nam congue blandit dolor quis consectetur.</p></div></div></div>
        <div class="float-left"><div id="img15" class="image margin-left-large" style="background:url(assets/artwork/paintings/mexican_wolf_study.jpg);background-size:cover;background-position: center center;"><div class="art-text"><h3 class="pos-abs col-white" style="left:5px;margin:5px 0px;opacity:1 !important">Image Title</h3><p class="pos-abs col-white" style="top:25px;left:5px;opacity:1 !important">Image text - Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc venenatis tellus nec luctus tincidunt. Nam congue blandit dolor quis consectetur.</p></div></div></div>
      </div>
      <hr>
      <img class="pos-rel" src="assets/general/signature_black.png" style="width:300px;height:auto;float:right">
    </div>
  </div>
  <!-- footer -->
  <span class="borderTop" style="z-index: 3;top: 2px;"></span>
  <footer class="gradient-from-black">
    <div class="pos-rel inner shad-retro" style="top:12px;font-size:32px;">
      Copyright &copy; Peter McBurney 2016
    </div>
  </footer>
</div>
