<!-- <nav class="gradient-dark">
  <div class="inner">
    <h1 class="pos-rel" style="top:10px;margin-top:0px;">Peter McBurney</h1>
  </div>
</nav> -->

<div id="blur">
  <img id="img-active" src="assets/osprey.jpg">
  <div class="text-active">
    <h2>Image Title</h2>
    <hr>
    <p>Image Info - Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore</p>
  </div>
  <img id="x" src="assets/x.png">
  <img id="arrow-left" src="assets/arrow-left.png">
  <img id="arrow-right" src="assets/arrow-right.png">
</div>

<div class="pos-rel col-white gradient-to-black" style="z-index: 3;width:100vw;">
  <div class="inner">
    <h1 class="fw-200 retroshadow sub-header" style="margin: 0px;" style="font-size:24px !important;">Featured Artwork</h1>
  </div>
</div>
<span class="borderBottom" style="z-index: 3;"></span>
<!-- Art grid system -->
<div class="container">
  <div class="inner">
    <div class="text-wrapper">
      <p style="font-size:20px;">Here are a few featured images from my collection.</p>
      <hr style="margin-bottom:25px;">
    </div>
    <div class="artwork-wrapper pos-rel">
      <div class="artwork float-left"><div id="art0" class="art margin-left-large"><div id="art-text"><h3 class="pos-abs col-white" style="left:5px;margin:5px 0px;opacity:1 !important">Image Title</h3><p class="pos-abs col-white" style="top:25px;left:5px;opacity:1 !important">Image text - Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc venenatis tellus nec luctus tincidunt. Nam congue blandit dolor quis consectetur.</p></div><img id="art-image0" class="art-image vertical-center opacity" src="assets/osprey.jpg"></div></div>
      <div class="artwork float-left"><div id="art0" class="art margin-left-large"><div id="art-text"><h3 class="pos-abs col-white" style="left:5px;margin:5px 0px;opacity:1 !important">Image Title</h3><p class="pos-abs col-white" style="top:25px;left:5px;opacity:1 !important">Image text - Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc venenatis tellus nec luctus tincidunt. Nam congue blandit dolor quis consectetur.</p></div><img id="art-image0" class="art-image vertical-center opacity" src="assets/Orca.jpg"></div></div>
      <div class="artwork float-left"><div id="art0" class="art margin-left-large"><div id="art-text"><h3 class="pos-abs col-white" style="left:5px;margin:5px 0px;opacity:1 !important">Image Title</h3><p class="pos-abs col-white" style="top:25px;left:5px;opacity:1 !important">Image text - Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc venenatis tellus nec luctus tincidunt. Nam congue blandit dolor quis consectetur.</p></div><img id="art-image0" class="art-image vertical-center opacity" src="assets/lobo.jpg"></div></div>
      <div class="artwork float-left"><div id="art0" class="art margin-left-large"><div id="art-text"><h3 class="pos-abs col-white" style="left:5px;margin:5px 0px;opacity:1 !important">Image Title</h3><p class="pos-abs col-white" style="top:25px;left:5px;opacity:1 !important">Image text - Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc venenatis tellus nec luctus tincidunt. Nam congue blandit dolor quis consectetur.</p></div><img id="art-image0" class="art-image vertical-center opacity" src="assets/loon.jpg"></div></div>
      <div class="artwork float-left"><div id="art0" class="art margin-left-large"><div id="art-text"><h3 class="pos-abs col-white" style="left:5px;margin:5px 0px;opacity:1 !important">Image Title</h3><p class="pos-abs col-white" style="top:25px;left:5px;opacity:1 !important">Image text - Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc venenatis tellus nec luctus tincidunt. Nam congue blandit dolor quis consectetur.</p></div><img id="art-image0" class="art-image vertical-center opacity" src="assets/home-image-2.jpg"></div></div>
      <div class="artwork float-left"><div id="art0" class="art margin-left-large"><div id="art-text"><h3 class="pos-abs col-white" style="left:5px;margin:5px 0px;opacity:1 !important">Image Title</h3><p class="pos-abs col-white" style="top:25px;left:5px;opacity:1 !important">Image text - Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc venenatis tellus nec luctus tincidunt. Nam congue blandit dolor quis consectetur.</p></div><img id="art-image0" class="art-image vertical-center opacity" src="assets/chickadees.jpg"></div></div>
      <div class="artwork float-left"><div id="art0" class="art margin-left-large"><div id="art-text"><h3 class="pos-abs col-white" style="left:5px;margin:5px 0px;opacity:1 !important">Image Title</h3><p class="pos-abs col-white" style="top:25px;left:5px;opacity:1 !important">Image text - Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc venenatis tellus nec luctus tincidunt. Nam congue blandit dolor quis consectetur.</p></div><img id="art-image0" class="art-image vertical-center opacity" src="assets/muskoka_morning.jpg"></div></div>
      <div class="artwork float-left"><div id="art0" class="art margin-left-large"><div id="art-text"><h3 class="pos-abs col-white" style="left:5px;margin:5px 0px;opacity:1 !important">Image Title</h3><p class="pos-abs col-white" style="top:25px;left:5px;opacity:1 !important">Image text - Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc venenatis tellus nec luctus tincidunt. Nam congue blandit dolor quis consectetur.</p></div><img id="art-image0" class="art-image vertical-center opacity" src="assets/sylva_closeup.jpg"></div></div>
      <div class="artwork float-left"><div id="art0" class="art margin-left-large"><div id="art-text"><h3 class="pos-abs col-white" style="left:5px;margin:5px 0px;opacity:1 !important">Image Title</h3><p class="pos-abs col-white" style="top:25px;left:5px;opacity:1 !important">Image text - Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc venenatis tellus nec luctus tincidunt. Nam congue blandit dolor quis consectetur.</p></div><img id="art-image0" class="art-image vertical-center opacity" src="assets/silent_anticipation.jpg"></div></div>
      <div class="artwork float-left"><div id="art0" class="art margin-left-large"><div id="art-text"><h3 class="pos-abs col-white" style="left:5px;margin:5px 0px;opacity:1 !important">Image Title</h3><p class="pos-abs col-white" style="top:25px;left:5px;opacity:1 !important">Image text - Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc venenatis tellus nec luctus tincidunt. Nam congue blandit dolor quis consectetur.</p></div><img id="art-image0" class="art-image vertical-center opacity" src="assets/sphinx_of_giza.jpg"></div></div>
      <div class="artwork float-left"><div id="art0" class="art margin-left-large"><div id="art-text"><h3 class="pos-abs col-white" style="left:5px;margin:5px 0px;opacity:1 !important">Image Title</h3><p class="pos-abs col-white" style="top:25px;left:5px;opacity:1 !important">Image text - Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc venenatis tellus nec luctus tincidunt. Nam congue blandit dolor quis consectetur.</p></div><img id="art-image0" class="art-image vertical-center opacity" src="assets/Patience.jpg"></div></div>
      <div class="artwork float-left"><div id="art0" class="art margin-left-large"><div id="art-text"><h3 class="pos-abs col-white" style="left:5px;margin:5px 0px;opacity:1 !important">Image Title</h3><p class="pos-abs col-white" style="top:25px;left:5px;opacity:1 !important">Image text - Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc venenatis tellus nec luctus tincidunt. Nam congue blandit dolor quis consectetur.</p></div><img id="art-image0" class="art-image vertical-center opacity" src="assets/northern_encounter.jpg"></div></div>
      <div class="artwork float-left"><div id="art0" class="art margin-left-large"><div id="art-text"><h3 class="pos-abs col-white" style="left:5px;margin:5px 0px;opacity:1 !important">Image Title</h3><p class="pos-abs col-white" style="top:25px;left:5px;opacity:1 !important">Image text - Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc venenatis tellus nec luctus tincidunt. Nam congue blandit dolor quis consectetur.</p></div><img id="art-image0" class="art-image vertical-center opacity" src="assets/point_ideal.jpg"></div></div>
      <div class="artwork float-left"><div id="art0" class="art margin-left-large"><div id="art-text"><h3 class="pos-abs col-white" style="left:5px;margin:5px 0px;opacity:1 !important">Image Title</h3><p class="pos-abs col-white" style="top:25px;left:5px;opacity:1 !important">Image text - Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc venenatis tellus nec luctus tincidunt. Nam congue blandit dolor quis consectetur.</p></div><img id="art-image0" class="art-image vertical-center opacity" src="assets/Parthenon.jpg"></div></div>
      <div class="artwork float-left"><div id="art0" class="art margin-left-large"><div id="art-text"><h3 class="pos-abs col-white" style="left:5px;margin:5px 0px;opacity:1 !important">Image Title</h3><p class="pos-abs col-white" style="top:25px;left:5px;opacity:1 !important">Image text - Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc venenatis tellus nec luctus tincidunt. Nam congue blandit dolor quis consectetur.</p></div><img id="art-image0" class="art-image vertical-center opacity" src="assets/breaching_orca.jpg"></div></div>
      <div class="artwork float-left"><div id="art0" class="art margin-left-large"><div id="art-text"><h3 class="pos-abs col-white" style="left:5px;margin:5px 0px;opacity:1 !important">Image Title</h3><p class="pos-abs col-white" style="top:25px;left:5px;opacity:1 !important">Image text - Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc venenatis tellus nec luctus tincidunt. Nam congue blandit dolor quis consectetur.</p></div><img id="art-image0" class="art-image vertical-center opacity" src="assets/mexican_wolf_study.jpg"></div></div>
    </div>
    <hr>
    <img class="pos-rel" src="assets/signature_black.png" style="width:300px;height:auto;float:right">
  </div>
</div>
<!-- footer -->
<span class="borderTop" style="z-index: 3;top: 2px;"></span>
<footer class="gradient-from-black">
  <div class="pos-rel inner retroshadow" style="top:12px;font-size:32px;">
    Copyright &copy; Peter McBurney 2016
  </div>
  <!-- <img id="bottom-img" src="assets/abu.jpg" style="filter: grayscale(100%)"> -->
</footer>
