<nav class="gradient-dark">
  <div class="inner">
    <h1 class="position-relative" style="top:5px;margin-top:0px;">Peter McBurney</h1>
  </div>
</nav>
<!-- Art grid system -->
<div class="container">
  <div class="inner">
    <h1 style="text-transform: uppercase;">Featured Artwork</h1>
    <hr style="margin-bottom:50px;">
    <div class="parent">
      <div id="art0" class="art margin-right-large">
        <img id="art-image0" class="art-image vertical-center opacity" src="assets/osprey.jpg">
      </div>
      <div id="art-text0" class="art-text white position-absolute">
        <h3 style="margin:0px">Image name</h3>
        <p>Image description Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
        <p style="color:black;padding-top:20px;">This is some sample text</p>
      </div>
    </div>
    <div class="parent">
      <div id="art1" class="art margin-right-large">
        <img id="art-image1" class="art-image vertical-center blur" src="assets/lobo.jpg">
      </div>
      <div id="art-text1" class="art-text white position-absolute">
        <h3 style="margin:0px">Image name</h3>
        <p>Image description Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
        <p style="color:black;padding-top:20px;">This is some sample text</p>
      </div>
    </div>
    <div class="parent">
      <div id="art2" class="art">
        <img id="art-image2" class="art-image vertical-center grayscale" src="assets/Orca.jpg">
      </div>
      <div id="art-text2" class="art-text white position-absolute">
        <h3 style="margin:0px">Image name</h3>
        <p>Image description Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
        <p style="color:black;padding-top:20px;">This is some sample text</p>
      </div>
    </div>
  </div>
</div>
<!-- footer -->
<footer class="gradient-dark">
  <div class="inner">
    Copyright &copy; Peter McBurney 2016
  </div>
</footer>
