<!-- Art grid system -->
<main class="general">
  <div class="container">
    <div class="inner">
      <div style="overflow:hidden;">
        <h1>Add new artwork</h1>
        <hr>
        <div class="float-left">
          <h3>Title</h3>
          <input type="text" name="title"></input>
        </div>
        <div class="float-left">
          <h3>Category</h3>
          <button>Painting</button>
          <button>Copic</button>
          <button>Sketch</button>
        </div>
        <div class="float-left">
          <h3>Price</h3>
          <button>No</button>
          <button>Yes</button>
          <input type="text" name="price"></input>
        </div>
      </div>

      <h2>Preview</h2>
      <hr>
      <section>

      </section>
    </div>
  </div>
</div>
