<!-- Art grid system -->
<div class="container">
  <div class="inner">
    <h1>Add new artwork</h1>
    <hr>
    <!--add a bunch of info about artwork being added. -->
    <h3>Type:</h3>
    <button>Painting</button>
    <button>Drawing</button>
  </div>
</div>
