<div class="general">
  <!-- Image previewer-->
  <%= render 'shared/preview' %>

  <!-- Nav -->
  <%= render :partial => "shared/nav", locals: {title: 'Paintings'} %>

  <!-- Art grid system -->
  <div class="container">
    <div class="inner">
      <div class="text-wrapper">
        <p style="font-size:20px;">Here are a few featured images from my collection.</p>
        <hr style="margin-bottom:25px;">
      </div>
      <div class="artwork-wrapper pos-rel">
        <%= render :partial => "shared/images", object: @paintings, as: 'images' %>
      </div>
      <hr>
      <img class="pos-rel" src="../../assets/general/signature_black.png" style="width:300px;height:auto;float:right">
    </div>
  </div>

  <!-- Footer -->
  <%= render :partial => "shared/footer" %>
</div>
