.general
  = render 'shared/preview'
  = render :partial => "shared/nav", locals: {title: 'Sketches'}
  .container
    .inner
      .text-wrapper
        p[style="font-size:20px;"]
          | Here are a sketches that I've done throughout the years.
        hr[style="margin-bottom:25px;"]
      .artwork-wrapper.pos-rel
        = render :partial => "shared/images", object: @sketches, as: 'images'
      hr
      = link_to "Artwork", controller: "artwork", action: "index"
      img.pos-rel[src="https://s3.amazonaws.com/petermcburneyartwork/general/signature_black.png" style="width:300px;height:auto;float:right"]
  = render :partial => "shared/footer"
