<span class="borderTop" style="z-index: 3;top: 2px;"></span>
<footer>
  <div class="pos-rel inner shad-retro" style="top:12px;font-size:32px;">
    Copyright &copy; Peter McBurney 2016
  </div>
</footer>
