<div class="pos-rel col-white gradient-to-black" style="z-index: 3;width:100vw;">
  <div class="inner">
    <h1 class="fw-200 shad-retro sub-header" style="margin: 0px;" style="font-size:24px !important;"><%= title %></h1>
  </div>
</div>
<span class="borderBottom" style="z-index: 3;"></span>
