/! IMAGE PREVIEWER
summary#previewer
  figure
    img#image/
    img#x src="../../assets/general/x.png" /
    img#arrow-left src="../../assets/general/arrow-left.png" /
    img#arrow-right src="../../assets/general/arrow-right.png" /
    figcaption
      h2.title
      hr/
      p
        span.media
        span.size
        b style="float:right;"
          span.price
