<!-- IMAGE PREVIEWER -->
<summary id="previewer">

  <figure>
    <img>
    <figcaption>
      <h2 class="title"></h2>
      <hr>
      <p><span class="media"></span> <span class="size"></span> <b style="float:right;"><span class="price"></span></b></p>
    </figcaption>
  </figure>
  <img id="x" src="../../assets/general/x.png">
  <img id="arrow-left" src="../../assets/general/arrow-left.png">
  <img id="arrow-right" src="../../assets/general/arrow-right.png">
</summary>
