
<div id="blur">
  <img id="img-active" src="assets/artwork/osprey.jpg">
  <div class="text-active">
    <h2>African Elephant</h2>
    <hr>
    <p>Image Info - arcylic on canvas, 101.6x76cm <b style="float:right;">$1000</b></p>
  </div>
  <img id="x" src="assets/x.png">
  <img id="arrow-left" src="assets/arrow-left.png">
  <img id="arrow-right" src="assets/arrow-right.png">
</div>

<!-- Main Landing Page -->
<div id="landing">
  <nav>
    <a><%= link_to 'Artwork', controller: 'artwork' %></a>
    <a><%= link_to 'Photography', controller: 'photos' %></a>
  </nav>

  <h1 class="pos-rel center-text col-white shad-black margin-bottom-none">Peter McBurney</h1>
  <h2 class="header-desc pos-rel center-text  col-white shad-black margin-top-none">Artist, Photographer, &amp; Musician</h2>
  <img class="bg pos-abs" src="assets/home-image-2.jpg">
  <div class="legal">
    <hr>
    <p>Copyright &copy; Peter McBurney 2016</p>
  </div>
</div>

<section class="landing-content">
  <h1>This site is a work in progress</h1>
</section>
