<header class="nav-padding lora">Peter McBurney</header>
<nav class="nav-padding border-small-black">
  This website is currently in development. We appreciate your patience...
</nav>

<!-- <div class="modal border-small-black">
  <h1 class="modal-header">Note:</h1>
  <p class="modal-text">This website is currently in development. We appreciate your patience...</p>
</div> -->

<img id="background" src="/assets/home-image-0.jpg">
<div id="signature" class="lora white">
  <img class="signature-image" src="/assets/signature.png">
  <h2 class="no-margin"><i>Artist, photographer and musician.</i></h2>
</div>

<!-- <div id="cir1" class=""></div>
<div id="cir2" class=""></div>
<div id="cir3" class=""></div> -->
