main#landing.general
  /! Image previewer
  = render 'shared/preview'
  
  /! Main section
  main
    section
      h1 Peter McBurney's Art
      h2 Artist, Photographer, and Musician.
      hr/
      h4
        span.grow= link_to 'Profile', controller: 'profile'
        span= link_to 'Artwork', controller: 'artwork'
        span= link_to 'Photography', controller: 'photos'
        span= link_to 'Commissions', controller: 'commissions'
        span= link_to 'Contact', controller: 'contact'
      hr/
      .social.center-horizontal
        .circle.float-left
          a href="https://www.facebook.com/PeterMcBurneyArt/?fref=ts"
            img.icon src="assets/social/fb.png" style="width:28px;height:auto;" /
        .circle.float-left.margin-left-medium
          a href="https://twitter.com/PeterMcBurney"
            img.icon src="assets/social/tw.png" style="width:28px;height:auto;" /
        .circle.float-left.margin-left-medium
          a href="https://www.instagram.com/petermcburney/"
            img.icon src="assets/social/ig.png" style="width:28px;height:auto;" /
        .circle.float-left.margin-left-medium
          a href="https://www.linkedin.com/in/peter-mcburney-a3335984?authType=NAME_SEARCH&authToken=y0cJ&locale=en_US&trk=tyah&trkInfo=clickedVertical%3Amynetwork%2CclickedEntityId%3A299465607%2CauthType%3ANAME_SEARCH%2Cidx%3A1-1-1%2CtarId%3A1458945967540%2Ctas%3Apet"
            img.icon src="assets/social/li.png" style="width:28px;height:auto;" /
    img.img src="https://s3.amazonaws.com/petermcburneyartwork/copic/numa.jpg" /
    
    /! Featured Artwork
    .pos-rel
      img.img src="assets/banners/abu.png" /
      h1.margin-none.pos-abs style="top:5vw;z-index:2;width:100%;text-align:center;"  Featured Artwork
    .container
      .inner
        .artwork-wrapper.pos-rel
          = render :partial => "shared/images", object: @featured_artwork, as: 'images'
          
    /! Featured Photography
    .pos-rel
      img.img src="assets/banners/falls.png" /
      h1.margin-none.pos-abs style="top:5vw;z-index:2;width:100%;text-align:center;"  Featured Photography
    .container
      .inner
        .photo-wrapper.pos-rel
          = render :partial => "shared/images", object: @featured_photos, as: 'images'
          
    /! Instagram Feed
    .pos-rel
      img.img src="assets/banners/owl.png" /
      h1.margin-none.pos-abs style="top:5vw;z-index:2;width:100%;text-align:center;"  Instagram Feed
      
    /! Instafeed.js
    #instafeed
    javascript:
      var userFeed = new Instafeed({
         get: 'user',
         userId: '975290265',
         accessToken: '975290265.f58ce38.06b4756f34cb4b43bcb8c4a1b8195924',
         resolution: 'low_resolution',
         useHttp: true
       });
       userFeed.run();
       
    /! Footer
    footer style="height:auto;"
      .pos-rel
        img.img src="assets/banners/lake.png" /
        h2.margin-none.pos-abs style="top:5vw;z-index:2;width:100%;text-align:center;"  Copyright © Peter McBurney 2016
