<header class="small-padding">Peter McBurney</header>
<nav class="small-padding border-small-black">
  This website is currently in development. We appreciate your patience...
</nav>

<img id="background" src="/assets/home-image-1.jpg">
<img id="signature" src="/assets/signature.png">
