<!-- Main Landing Page -->
<div class="landing">
  <section class="main">
    <nav>
      <a><%= link_to 'Artwork', controller: 'artwork' %></a>
      <a><%= link_to 'Photography', controller: 'photos' %></a>
    </nav>
  </section>
  <section class="content">
  </section>
</div>
