
<h1 class="header pos-rel center-text col-white shad-black margin-bottom-none">Peter McBurney</h1>
<h2 class="header-desc pos-rel center-text  col-white shad-black margin-top-none">Artist, Musician, &amp; Teacher</h2>
<img class="bg pos-abs" src="assets/home-image-2.jpg">
<!-- <img class="crayons pos-abs" src="assets/pencil-crayons.png"> -->
<section class="landing-content">
  <!-- Artwork -->
  <span class="borderTop" style="z-index: 3;top: -35px;"></span>
  <div class="sub-header pos-rel col-white gradient-to-and-from-black" style="z-index: 3;top: -35px;">
    <h1 class="fw-200 retroshadow" style="margin: 0px 0px 0px 40px;">Artwork</h1>
  </div>
  <span class="borderBottom" style="z-index: 3;top: -35px;"></span>
  <div class="container">
    <div class="inner">
      <div class="text-wrapper">
        <p style="font-size:20px;">Here are a few featured images from my collection.</p>
        <hr style="margin-bottom:25px;">
      </div>
      <div class="artwork-wrapper pos-rel">
        <div class="artwork float-left"><div id="art0" class="art margin-left-large"><img id="art-image0" class="art-image vertical-center opacity" src="assets/osprey.jpg"></div></div>
        <div class="artwork float-left"><div id="art0" class="art margin-left-large"><img id="art-image0" class="art-image vertical-center opacity" src="assets/Orca.jpg"></div></div>
        <div class="artwork float-left"><div id="art0" class="art margin-left-large"><img id="art-image0" class="art-image vertical-center opacity" src="assets/lobo.jpg"></div></div>
        <div class="artwork float-left"><div id="art0" class="art margin-left-large"><img id="art-image0" class="art-image vertical-center opacity" src="assets/loon.jpg"></div></div>
        <div class="artwork float-left"><div id="art0" class="art margin-left-large"><img id="art-image0" class="art-image vertical-center opacity" src="assets/home-image-2.jpg"></div></div>
        <div class="artwork float-left"><div id="art0" class="art margin-left-large"><img id="art-image0" class="art-image vertical-center opacity" src="assets/chickadees.jpg"></div></div>
        <div class="artwork float-left"><div id="art0" class="art margin-left-large"><img id="art-image0" class="art-image vertical-center opacity" src="assets/muskoka_morning.jpg"></div></div>
        <div class="artwork float-left"><div id="art0" class="art margin-left-large"><img id="art-image0" class="art-image vertical-center opacity" src="assets/sylva_closeup.jpg"></div></div>
        <div class="artwork float-left"><div id="art0" class="art margin-left-large"><img id="art-image0" class="art-image vertical-center opacity" src="assets/silent_anticipation.jpg"></div></div>
        <div class="artwork float-left"><div id="art0" class="art margin-left-large"><img id="art-image0" class="art-image vertical-center opacity" src="assets/sphinx_of_giza.jpg"></div></div>
        <div class="artwork float-left"><div id="art0" class="art margin-left-large"><img id="art-image0" class="art-image vertical-center opacity" src="assets/Patience.jpg"></div></div>
        <div class="artwork float-left"><div id="art0" class="art margin-left-large"><img id="art-image0" class="art-image vertical-center opacity" src="assets/northern_encounter.jpg"></div></div>
        <div class="artwork float-left"><div id="art0" class="art margin-left-large"><img id="art-image0" class="art-image vertical-center opacity" src="assets/point_ideal.jpg"></div></div>
        <div class="artwork float-left"><div id="art0" class="art margin-left-large"><img id="art-image0" class="art-image vertical-center opacity" src="assets/Parthenon.jpg"></div></div>
        <div class="artwork float-left"><div id="art0" class="art margin-left-large"><img id="art-image0" class="art-image vertical-center opacity" src="assets/breaching_orca.jpg"></div></div>
        <div class="artwork float-left"><div id="art0" class="art margin-left-large"><img id="art-image0" class="art-image vertical-center opacity" src="assets/mexican_wolf_study.jpg"></div></div>
      </div>
      <hr>
      <img class="pos-rel" src="assets/signature_black.png" style="width:300px;height:auto;float:right">
    </div>
  </div>
  <!-- Artwork -->
  <span class="borderTop" style="top:2px;"></span>
  <div class="sub-header pos-rel col-white gradient-to-and-from-black">
    <h1 class="fw-200 retroshadow" style="margin: 0px 0px 0px 40px;">Social Media</h1>
  </div>
  <span class="borderBottom"></span>
</section>
