
<h1 class="header pos-rel center-text col-white shad-black margin-bottom-none">Peter McBurney</h1>
<h2 class="header-desc pos-rel center-text  col-white shad-black margin-top-none">Artist, Musician, &amp; Teacher</h2>
<img class="bg pos-abs" src="assets/home-image-2.jpg">
<img class="crayons pos-abs" src="assets/pencil-crayons.png">
<section class="landing-content">
  <span class="borderTop"></span>
  <div class="sub-header pos-rel col-white">
    <h1 class="margin-none fw-200 retroshadow">Artwork</h1>
  </div>
  <span class="borderBottom"></span>
  <div class="parent">
    <div id="art0" class="art margin-right-large">
      <img id="art-image0" class="art-image vertical-center opacity" src="assets/osprey.jpg">
    </div>
    <div id="art-text0" class="art-text white position-absolute">
      <h3 style="margin:0px">Image name</h3>
      <p>Image description Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
      <p style="color:black;padding-top:20px;">This is some sample text</p>
    </div>
  </div>
  <div class="parent">
    <div id="art0" class="art margin-right-large">
      <img id="art-image0" class="art-image vertical-center opacity" src="assets/osprey.jpg">
    </div>
    <div id="art-text0" class="art-text white position-absolute">
      <h3 style="margin:0px">Image name</h3>
      <p>Image description Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
      <p style="color:black;padding-top:20px;">This is some sample text</p>
    </div>
  </div>
  <div class="parent">
    <div id="art0" class="art margin-right-large">
      <img id="art-image0" class="art-image vertical-center opacity" src="assets/osprey.jpg">
    </div>
    <div id="art-text0" class="art-text white position-absolute">
      <h3 style="margin:0px">Image name</h3>
      <p>Image description Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
      <p style="color:black;padding-top:20px;">This is some sample text</p>
    </div>
  </div>
</section>
