<!-- Main Landing Page -->
<div class="landing general">
  <main>
    <section>
      <h1>Peter McBurney's Art</h1>
      <h2>Artist, Photographer, and Musician.</h2>
      <hr>
      <h3>
        <span>Home</span>
        <span><%= link_to 'Profile', controller: 'profile' %></span>
        <span><%= link_to 'Artwork', controller: 'artwork' %></span>
        <span><%= link_to 'Photography', controller: 'photos' %></span>
        <span><%= link_to 'Contact', controller: 'contact' %></span>
      </h3>
      <hr>
      <div class="social center-horizontal">
        <div class="circle float-left">
          <a href="https://www.facebook.com/PeterMcBurneyArt/?fref=ts"><img class="icon" src="assets/social/fb.png" style="width:28px;height:auto;" /></a>
        </div>
        <div class="circle float-left margin-left-medium">
          <a href="https://twitter.com/PeterMcBurney"><img class="icon" src="assets/social/tw.png" style="width:28px;height:auto;" /></a>
        </div>
        <div class="circle float-left margin-left-medium">
          <a href="https://www.instagram.com/petermcburney/"><img class="icon" src="assets/social/ig.png" style="width:28px;height:auto;" /></a>
        </div>
        <div class="circle float-left margin-left-medium">
          <a href="https://www.linkedin.com/in/peter-mcburney-a3335984?authType=NAME_SEARCH&authToken=y0cJ&locale=en_US&trk=tyah&trkInfo=clickedVertical%3Amynetwork%2CclickedEntityId%3A299465607%2CauthType%3ANAME_SEARCH%2Cidx%3A1-1-1%2CtarId%3A1458945967540%2Ctas%3Apet"><img class="icon" src="assets/social/li.png" style="width:28px;height:auto;" /></a>
        </div>
      </div>
      <!-- <img class="arrow-down-small center-horizontal" src="assetsarrow-down.png" /> -->
      <img class="arrow-down center-horizontal" src="assets/general/arrow-down.png" />
    </section>
    <img class="img" src="assets/artwork/copic/numa.jpg"></img>

    <div class="pos-rel">
      <img class="img" src="assets/banners/abu.png"></img>
      <h1 class="margin-none pos-abs" style="top:60px;left:20px;z-index:2;">Featured Artwork</h1>
    </div>
    <!-- <h1 class="margin-none pos-rel" style="top:16vw;z-index:2;">Featured Artwork</h1>
    <img class="img" src="assets/banners/abu.png"></img> -->
    <div class="container">
      <div class="inner">
        <div class="artwork-wrapper pos-rel">
          <div class="artwork float-left"><div id="art0" class="art margin-left-large" style="background:url(assets/artwork/paintings/osprey.jpg);background-size:cover;background-position: center center;"><div class="art-text"><h3 class="pos-abs col-white" style="left:5px;margin:5px 0px;opacity:1 !important">Image Title</h3><p class="pos-abs col-white" style="top:25px;left:5px;opacity:1 !important">Image text - Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc venenatis tellus nec luctus tincidunt. Nam congue blandit dolor quis consectetur.</p></div></div></div>
          <div class="artwork float-left"><div id="art1" class="art margin-left-large" style="background:url(assets/artwork/paintings/Orca.jpg);background-size:cover;background-position: center center;"><div class="art-text"><h3 class="pos-abs col-white" style="left:5px;margin:5px 0px;opacity:1 !important">Image Title</h3><p class="pos-abs col-white" style="top:25px;left:5px;opacity:1 !important">Image text - Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc venenatis tellus nec luctus tincidunt. Nam congue blandit dolor quis consectetur.</p></div></div></div>
          <div class="artwork float-left"><div id="art2" class="art margin-left-large" style="background:url(assets/artwork/paintings/lobo.jpg);background-size:cover;background-position: center center;"><div class="art-text"><h3 class="pos-abs col-white" style="left:5px;margin:5px 0px;opacity:1 !important">Image Title</h3><p class="pos-abs col-white" style="top:25px;left:5px;opacity:1 !important">Image text - Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc venenatis tellus nec luctus tincidunt. Nam congue blandit dolor quis consectetur.</p></div></div></div>
          <div class="artwork float-left"><div id="art3" class="art margin-left-large" style="background:url(assets/artwork/paintings/loon.jpg);background-size:cover;background-position: center center;"><div class="art-text"><h3 class="pos-abs col-white" style="left:5px;margin:5px 0px;opacity:1 !important">Image Title</h3><p class="pos-abs col-white" style="top:25px;left:5px;opacity:1 !important">Image text - Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc venenatis tellus nec luctus tincidunt. Nam congue blandit dolor quis consectetur.</p></div></div></div>
          <div class="artwork float-left"><div id="art4" class="art margin-left-large" style="background:url(assets/artwork/paintings/abu.jpg);background-size:cover;background-position: center center;"><div class="art-text"><h3 class="pos-abs col-white" style="left:5px;margin:5px 0px;opacity:1 !important">Image Title</h3><p class="pos-abs col-white" style="top:25px;left:5px;opacity:1 !important">Image text - Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc venenatis tellus nec luctus tincidunt. Nam congue blandit dolor quis consectetur.</p></div></div></div>
          <div class="artwork float-left"><div id="art5" class="art margin-left-large" style="background:url(assets/artwork/paintings/chickadees.jpg);background-size:cover;background-position: center center;"><div class="art-text"><h3 class="pos-abs col-white" style="left:5px;margin:5px 0px;opacity:1 !important">Image Title</h3><p class="pos-abs col-white" style="top:25px;left:5px;opacity:1 !important">Image text - Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc venenatis tellus nec luctus tincidunt. Nam congue blandit dolor quis consectetur.</p></div></div></div>
          <div class="artwork float-left"><div id="art6" class="art margin-left-large" style="background:url(assets/artwork/paintings/muskoka_morning.jpg);background-size:cover;background-position: center center;"><div class="art-text"><h3 class="pos-abs col-white" style="left:5px;margin:5px 0px;opacity:1 !important">Image Title</h3><p class="pos-abs col-white" style="top:25px;left:5px;opacity:1 !important">Image text - Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc venenatis tellus nec luctus tincidunt. Nam congue blandit dolor quis consectetur.</p></div></div></div>
          <div class="artwork float-left"><div id="art7" class="art margin-left-large" style="background:url(assets/artwork/paintings/sylva_closeup.jpg);background-size:cover;background-position: center center;"><div class="art-text"><h3 class="pos-abs col-white" style="left:5px;margin:5px 0px;opacity:1 !important">Image Title</h3><p class="pos-abs col-white" style="top:25px;left:5px;opacity:1 !important">Image text - Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc venenatis tellus nec luctus tincidunt. Nam congue blandit dolor quis consectetur.</p></div></div></div>
        </div>
      </div>
    </div>

    <div class="pos-rel">
      <img class="img" src="assets/banners/falls.png"></img>
      <h1 class="margin-none pos-abs" style="top:60px;left:20px;z-index:2;">Featured Photography</h1>
    </div>
    <!-- <h1 class="margin-none pos-rel" style="top:16vw;z-index:2;">Featured Photography</h1>
    <img class="img" src="assets/banners/falls.png"></img> -->
    <div class="container">
      <div class="inner">
        <div class="artwork-wrapper pos-rel">
          <div class="artwork float-left"><div id="art0" class="art margin-left-large" style="background:url(assets/photos/DSC_6664.jpg);background-size:cover;background-position: center center;"><div class="art-text"><h3 class="pos-abs col-white" style="left:5px;margin:5px 0px;opacity:1 !important">Image Title</h3><hr class="pos-abs" style="width:100%;top:30px;"><p class="pos-abs col-white" style="top:25px;left:5px;opacity:1 !important">Image text - Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc venenatis tellus nec luctus tincidunt. Nam congue blandit dolor quis consectetur.</p></div></div></div>
          <div class="artwork float-left"><div id="art1" class="art margin-left-large" style="background:url(assets/photos/DSC_6650.jpg);background-size:cover;background-position: center center;"><div class="art-text"><h3 class="pos-abs col-white" style="left:5px;margin:5px 0px;opacity:1 !important">Image Title</h3><p class="pos-abs col-white" style="top:25px;left:5px;opacity:1 !important">Image text - Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc venenatis tellus nec luctus tincidunt. Nam congue blandit dolor quis consectetur.</p></div></div></div>
          <div class="artwork float-left"><div id="art2" class="art margin-left-large" style="background:url(assets/photos/DSC_6437.jpg);background-size:cover;background-position: center center;"><div class="art-text"><h3 class="pos-abs col-white" style="left:5px;margin:5px 0px;opacity:1 !important">Image Title</h3><p class="pos-abs col-white" style="top:25px;left:5px;opacity:1 !important">Image text - Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc venenatis tellus nec luctus tincidunt. Nam congue blandit dolor quis consectetur.</p></div></div></div>
          <div class="artwork float-left"><div id="art3" class="art margin-left-large" style="background:url(assets/photos/DSC_6907.jpg);background-size:cover;background-position: center center;"><div class="art-text"><h3 class="pos-abs col-white" style="left:5px;margin:5px 0px;opacity:1 !important">Image Title</h3><p class="pos-abs col-white" style="top:25px;left:5px;opacity:1 !important">Image text - Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc venenatis tellus nec luctus tincidunt. Nam congue blandit dolor quis consectetur.</p></div></div></div>
          <div class="artwork float-left"><div id="art4" class="art margin-left-large" style="background:url(assets/photos/DSC_1218.jpg);background-size:cover;background-position: center center;"><div class="art-text"><h3 class="pos-abs col-white" style="left:5px;margin:5px 0px;opacity:1 !important">Image Title</h3><p class="pos-abs col-white" style="top:25px;left:5px;opacity:1 !important">Image text - Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc venenatis tellus nec luctus tincidunt. Nam congue blandit dolor quis consectetur.</p></div></div></div>
          <div class="artwork float-left"><div id="art5" class="art margin-left-large" style="background:url(assets/photos/DSC_0239.jpg);background-size:cover;background-position: center center;"><div class="art-text"><h3 class="pos-abs col-white" style="left:5px;margin:5px 0px;opacity:1 !important">Image Title</h3><p class="pos-abs col-white" style="top:25px;left:5px;opacity:1 !important">Image text - Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc venenatis tellus nec luctus tincidunt. Nam congue blandit dolor quis consectetur.</p></div></div></div>
          <div class="artwork float-left"><div id="art6" class="art margin-left-large" style="background:url(assets/photos/DSC_9348.jpg);background-size:cover;background-position: center center;"><div class="art-text"><h3 class="pos-abs col-white" style="left:5px;margin:5px 0px;opacity:1 !important">Image Title</h3><p class="pos-abs col-white" style="top:25px;left:5px;opacity:1 !important">Image text - Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc venenatis tellus nec luctus tincidunt. Nam congue blandit dolor quis consectetur.</p></div></div></div>
          <div class="artwork float-left"><div id="art7" class="art margin-left-large" style="background:url(assets/photos/DSC_9392.jpg);background-size:cover;background-position: center center;"><div class="art-text"><h3 class="pos-abs col-white" style="left:5px;margin:5px 0px;opacity:1 !important">Image Title</h3><p class="pos-abs col-white" style="top:25px;left:5px;opacity:1 !important">Image text - Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc venenatis tellus nec luctus tincidunt. Nam congue blandit dolor quis consectetur.</p></div></div></div>
        </div>
      </div>
    </div>

    <div class="pos-rel">
      <img class="img" src="assets/banners/owl.png"></img>
      <h1 class="margin-none pos-abs" style="top:60px;left:20px;z-index:2;">Instagram Feed</h1>
    </div>
    <!-- <h1 class="margin-none pos-rel" style="top:16vw;z-index:2;">Instagram</h1>
    <img class="img" src="assets/banners/owl.png"></img> -->

    <footer>
      <div class="pos-rel">
        <img class="img" src="assets/banners/lake.png"></img>
        <h4 class="margin-none pos-abs" style="top:60px;left:20px;z-index:2;">Copyright &copy; Peter McBurney 2016. All rights reserved.</h4>
      </div>
      <!-- <h4 class="pos-rel" style="top:18vw;z-index:2;">Copyright &copy; Peter McBurney 2016. All rights reserved.</h4>
      <img class="img" src="assets/banners/lake.png"></img> -->
    </footer>
  </main>
</div>
