
<h1 class="header pos-rel center-text col-white shad-black margin-bottom-none">Peter McBurney</h1>
<h2 class="header-desc pos-rel center-text  col-white shad-black margin-top-none">Artist, Musician, &amp; Teacher</h2>
<img class="bg pos-abs" src="assets/home-image-2.jpg">
<img class="crayons pos-abs" src="assets/pencil-crayons.png">
<section class="landing-content">
  <!-- Artwork -->
  <span class="borderTop" style="z-index: 3;top: -35px;"></span>
  <div class="sub-header pos-rel col-white" style="z-index: 3;top: -35px;">
    <h1 class="fw-200 retroshadow" style="margin: 0px 0px 0px 40px;">Artwork</h1>
  </div>
  <span class="borderBottom" style="z-index: 3;top: -35px;"></span>
  <div class="artwork-wrapper pos-rel">
    <div class="artwork float-left"><div id="art0" class="art margin-right-large"><img id="art-image0" class="art-image vertical-center opacity" src="assets/osprey.jpg"></div></div>
    <div class="artwork float-left"><div id="art0" class="art margin-right-large"><img id="art-image0" class="art-image vertical-center opacity" src="assets/osprey.jpg"></div></div>
    <div class="artwork float-left"><div id="art0" class="art margin-right-large"><img id="art-image0" class="art-image vertical-center opacity" src="assets/osprey.jpg"></div></div>
    <div class="artwork float-left"><div id="art0" class="art margin-right-large"><img id="art-image0" class="art-image vertical-center opacity" src="assets/osprey.jpg"></div></div>
    <div class="artwork float-left"><div id="art0" class="art margin-right-large"><img id="art-image0" class="art-image vertical-center opacity" src="assets/osprey.jpg"></div></div>
    <div class="artwork float-left"><div id="art0" class="art margin-right-large"><img id="art-image0" class="art-image vertical-center opacity" src="assets/osprey.jpg"></div></div>
    <div class="artwork float-left"><div id="art0" class="art margin-right-large"><img id="art-image0" class="art-image vertical-center opacity" src="assets/osprey.jpg"></div></div>
    <div class="artwork float-left"><div id="art0" class="art margin-right-large"><img id="art-image0" class="art-image vertical-center opacity" src="assets/osprey.jpg"></div></div>
    <div class="artwork float-left"><div id="art0" class="art margin-right-large"><img id="art-image0" class="art-image vertical-center opacity" src="assets/osprey.jpg"></div></div>
    <div class="artwork float-left"><div id="art0" class="art margin-right-large"><img id="art-image0" class="art-image vertical-center opacity" src="assets/osprey.jpg"></div></div>
    <div class="artwork float-left"><div id="art0" class="art margin-right-large"><img id="art-image0" class="art-image vertical-center opacity" src="assets/osprey.jpg"></div></div>
    <div class="artwork float-left"><div id="art0" class="art margin-right-large"><img id="art-image0" class="art-image vertical-center opacity" src="assets/osprey.jpg"></div></div>
    <div class="artwork float-left"><div id="art0" class="art margin-right-large"><img id="art-image0" class="art-image vertical-center opacity" src="assets/osprey.jpg"></div></div>
    <div class="artwork float-left"><div id="art0" class="art margin-right-large"><img id="art-image0" class="art-image vertical-center opacity" src="assets/osprey.jpg"></div></div>
    <div class="artwork float-left"><div id="art0" class="art margin-right-large"><img id="art-image0" class="art-image vertical-center opacity" src="assets/osprey.jpg"></div></div>
    <div class="artwork float-left"><div id="art0" class="art margin-right-large"><img id="art-image0" class="art-image vertical-center opacity" src="assets/osprey.jpg"></div></div>
    <div class="artwork float-left"><div id="art0" class="art margin-right-large"><img id="art-image0" class="art-image vertical-center opacity" src="assets/osprey.jpg"></div></div>
    <div class="artwork float-left"><div id="art0" class="art margin-right-large"><img id="art-image0" class="art-image vertical-center opacity" src="assets/osprey.jpg"></div></div>
    <div class="artwork float-left"><div id="art0" class="art margin-right-large"><img id="art-image0" class="art-image vertical-center opacity" src="assets/osprey.jpg"></div></div>
    <div class="artwork float-left"><div id="art0" class="art margin-right-large"><img id="art-image0" class="art-image vertical-center opacity" src="assets/osprey.jpg"></div></div>
  </div>
  <!-- Artwork -->
  <span class="borderTop" style="top:2px;"></span>
  <div class="sub-header pos-rel col-white">
    <h1 class="fw-200 retroshadow" style="margin: 0px 0px 0px 40px;">Social Media</h1>
  </div>
  <span class="borderBottom"></span>
</section>
