<main class="general main" style="overflow:hidden;">
  <div class="pos-rel">
    <img class="img" src="assets/banners/lake.png"></img>
    <h1 class="margin-none pos-abs" style="top:60px;left:20px;z-index:2;">Commissions</h1>
  </div>
    <p class="margin-none" style="font-size:24px;margin-bottom:20px;">My original pieces are completed on high-quality artist materials with the highest quality, pencils, markers, or acrylics. This ensures an excellent archival quality of your painting.</p>
    <p class="margin-none" style="font-size:24px;margin-bottom:20px;">If you would like to commission a pencil drawing, copic marker and coloured pencil drawing, or acrylic painting of a pet or favourite animal all you need to do is send me a clear, high resolution photograph by email.  It is important to have a good quality photograph so that I am able to see the detail in the subjects features and therefore achieve the best results.  If you would like to send more than one photo for me to choose from that's absolutely fine.  If for some reason you are unable to get a high resolution photograph then I am able to work from old photos but it just makes it a bit harder.</p>
    <p class="margin-none" style="font-size:24px;margin-bottom:20px;">A 20% deposit is required via PayPal before I start the painting and I will normally have the painting finished within 3 weeks. On completion of the painting,  I will email you a photograph of the artwork. Once you have seen this and are completely happy with it, then the rest of the payment can be made securely online by PayPal.  I give an unconditional guarantee that you are not obliged to buy the finished painting if you decide not to. You may also return it for any reason within 30 days for a full refund including your deposit.  It is recommended that you get the artwork framed as soon as possible after receiving it to avoid any damages.
</main>
