<main id="contact" class="general">
  <header class="pos-rel">
    <img src="assets/banners/sunset.png"></img>
    <h1 class="margin-none pos-abs">Contact</h1>
  </header>

  <div class="container">
    <div class="inner">

      <div class="text-wrapper">
        <p>If you have any inquiries, you may contact me here at <a href="mailto:petermcburney@gmail.com" target="_top">petermcburney@gmail.com</a>.</p>
      </div>

      <% end %>
      <%= link_to "Home", controller: "welcome", action: "index" %>
    </div>
  </div>

  <div class="error">
    <main>
      <h2>Error</h2>
      <p>We're sorry, but an error has occured during sending your email.</p>
      <button>Okay</button>
    </main>
  </div>
</main>
