<main class="general main">
  <div class="pos-rel">
    <img class="img" src="assets/banners/lake.png"></img>
    <h1 class="margin-none pos-abs" style="top:60px;left:20px;z-index:2;">Contact</h1>
  </div>
</main>
