// Place all the styles related to the artwork controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

footer{color:white;height:40px;}


.artwork-wrapper{
  width:95vw;
  padding: 0 2.5vw;
  height:auto;
  overflow: auto;
}

.inner{
  margin: 0px 5vw;
  width:90vw;
}

nav{
  width: 100vw;
  height: 60px;
  color: #ffffff;
}

.gradient-dark{
  background: #232323; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#191919,#333333); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#191919,#333333); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#191919,#333333); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#191919,#333333); /* Standard syntax */
}

.container{
  background-color: #eeeeee;
  width: 100vw;
  overflow: auto;
  padding-bottom: 60px;
}
.art{
  position: relative;
  top: 0px;
  background: #000000;
  overflow: hidden;
  width: 250px;
  height: 200px;
  border: 1px solid #333333;
  border-radius: 5px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
  margin-bottom:20px;
}
.art-image{
  width:100%;
  clip: rect(0px,150px,100px,0px)
}
.art-text{
  display:none;
  position: relative;
  width:250px;
  top:-200px;
  z-index: 2;
}
.vertical-center{
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

/* Filter Styles */
.opacity:hover{-webkit-filter: opacity(50%);filter: opacity(25%);transition: 0.5s ease;}
