
@mixin calc ($property, $expression) {
  #{$property}: -webkit-calc(#{$expression});
  #{$property}: calc(#{$expression});
}

#contact {
  input {
    height: 40px;
  }
  textarea {
    resize: none;
    height: 200px;
  }
  input, textarea {
    background-color: #fafafa;
    border: 0px;
    border-bottom: 1px solid #999999;
    font-size: 24px;
    padding: 10px;
    @include calc(width, "100% - 10px");
  }

  div.error {
    display: none;
    position: fixed;
    background-color: rgba(0,0,0,0.5);
    top: 0px;
    height: 100vh;
    width: 100vw;
    z-index: 5;

    main {
      background-color: #fafafa;
      border-radius: 10px;
      position: absolute;
      padding: 20px;
      z-index: 1;
      max-width: 400px;
      width: 90%;
      left: 50%;
      top: 50%;
      transform: translate(-50%,-50%);
    }
  }
}
