$black-text-shadow: -1px -1px 10px rgba(0,0,0,0), 1px -1px 10px rgba(0,0,0,.5), -1px 1px 10px rgba(0,0,0,.5), 1px 1px 10px rgba(0,0,0,.5);

#profile {
  aside {
    width: 90%;
    margin: 0 auto;

    p {
      font-weight: 300;
      margin: 0px;
      font-size: 30px;
      margin-bottom: 20px;
    }
  }

  .float-left {
    margin: 0px 3% 0px 0px;
  }
  .float-right {
    margin: 0px 0px 0px 3%;
  }

  img {
    width: 100%;
  }

  figure {
    width: 40%;

    img {
      height: auto;
      width: 100%;
    }

    figcaption {
      font-size: 22px;
    }
  }
}

/* SMALL SCREEN AND TABLET VIEW */

@media screen and (max-width: 906px) {
  #profile {
    aside {
      p {
        font-size: 24px;
      }
    }
    figure {
      figcaption {
        font-size: 18px;
      }
    }
  }
}

/* MOBILE VIEW */

@media screen and (max-width: 593px) {
  #profile {
    aside {
      p {
        font-size: 20px;
      }
    }
    figure {
      display: none;
    }
  }
}
