// @import url(https://fonts.googleapis.com/css?family=IM+Fell+French+Canon:400,400italic);
// @import url(https://fonts.googleapis.com/css?family=Alegreya:400,700,900);
// @import url(https://fonts.googleapis.com/css?family=Vollkorn:400,700);
@import url(https://fonts.googleapis.com/css?family=Playfair+Display:400,700,900);
@import url(https://fonts.googleapis.com/css?family=Libre+Baskerville:400,400italic,700|Crimson+Text:400,600,400italic,600italic|Cardo:400,400italic,700);
// @import url(https://fonts.googleapis.com/css?family=Martel:400,200,300);


$serif-font: 'Playfair Display', serif;
$sans-serif-font: 'Helvetica', sans-serif-font;

body{
  margin:0px;
  background-color: #fff;
  border-top: 5px solid #4f514e;
  color: #3a3b39;
  font-size: 18px;
  line-height: 1.4;
  -webkit-font-smoothing: antialiased;
  // // font-family: 'Libre Baskerville', serif;
  font-family: 'Crimson Text', serif;
  // font-family: 'Cardo', serif;
  overflow-x: hidden;
}

/* COLOURS */
.col-white{color:#ffffff;}

.float-left{float:left;}

/* TEXT SHADOWS */
.shad-black{
  text-shadow:
  -1px -1px 10px rgba(0,0,0,.75),
  1px -1px 10px rgba(0,0,0,.5),
  -1px 1px 10px rgba(0,0,0,.5),
  1px 1px 10px rgba(0,0,0,.5);
}
.retroshadow {
    text-shadow: 1px 1px 2px black, 0 0 25px #0066ff, 0 0 5px #0052cc;
}

/* FONT WEIGHTS */
.fw-200{font-weight: 200;}

/* POSITIONING */
.pos-rel{position: relative;}
.pos-abs{position: absolute;}

/* MARGIN & PADDING */
.margin-none{margin:0px;}
.margin-bottom-none{margin-bottom: 0px;}
.margin-top-none{margin-top: 0px;}
.margin-small{margin:10px;}
.margin-right-large{margin-right:30px;}
.margin-left-large{margin-left:30px;}
.margin-horizontal-small{margin:10px;}
.margin-horizontal-large{margin: 0px 30px;}

.center-text{width:100vw;text-align:center;}

.header{
  letter-spacing: 5px !important;
  font-size: 120px;
  z-index: 3;
  font-weight: 200;
}
.header-desc{
  font-size: 80px;
  z-index: 3;
  font-weight: 300;
}
.sub-header{
  font-size: 60px;
  letter-spacing: 2px;
}
.bg, .crayons{
  min-width: 1100px;
  width: 100vw;
  left:0px;
}
.bg{z-index: 1;bottom:0px;}
.crayons{z-index: 2;bottom:-150px;}

.landing-content{
  bottom:-250px;
  height: 100px;
  width:100vw;
  position: absolute;
}

.borderTop{
    display: block;
    position: relative;
    height: 35px;
    background: url('edge_up.png') repeat-x;
}.borderBottom{
    display: block;
    position: relative;
    height: 35px;
    background: url('edge_down.png') repeat-x;
}

@media only screen and (max-width: 1100px){ .bg, .crayons{left: -0px;}}
@media only screen and (max-width: 1050px){ .bg, .crayons{left: -50px;}}
@media only screen and (max-width: 1000px){ .bg, .crayons{left: -100px;}}
@media only screen and (max-width: 950px){ .bg, .crayons{left: -150px;}}
@media only screen and (max-width: 900px){ .bg, .crayons{left: -200px;}}
@media only screen and (max-width: 850px){ .bg, .crayons{left: -250px;}}
@media only screen and (max-width: 800px){ .bg, .crayons{left: -300px;}}
@media only screen and (max-width: 750px){ .bg, .crayons{left: -350px;}}
@media only screen and (max-width: 700px){ .bg, .crayons{left: -400px;}}
@media only screen and (max-width: 650px){ .bg, .crayons{left: -450px;}}
