@import url(https://fonts.googleapis.com/css?family=IM+Fell+French+Canon:400,400italic);

body{
  margin:0px;
  background-color: #fff;
  border-top: 5px solid #4f514e;
  color: #3a3b39;
  font-family: 'IM Fell French Canon', serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.4;
  -webkit-font-smoothing: antialiased;
}

footer{color:white;height:40px;}

.inner{
  margin: 0px 5vw;
  width:90vw;
}

nav{
  width: 100vw;
  height: 60px;
  color: #ffffff;
}

.gradient-dark{
  background: #232323; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#191919,#333333); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#191919,#333333); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#191919,#333333); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#191919,#333333); /* Standard syntax */
}

/* COLOURS */
.white{color:#ffffff;}

/* POSITIONING */
.position-relative{position: relative;}
.position-absolute{position: absolute;}

/* MARGIN & PADDING */
.margin-none{margin:0px;}
.margin-small{margin:10px;}
.margin-right-large{margin-right:30px;}
.margin-horizontal-small{margin:10px;}
.margin-horizontal-large{margin: 0px 30px;}

.container{
  background-color: #eeeeee;
  width: 100vw;
  overflow: auto;
  padding-bottom: 60px;
}
.art{
  background: #000000;
  overflow: hidden;
  float:left;
  width: 250px;
  height: 200px;
  border: 1px solid #333333;
  border-radius: 5px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.5)
}
.art-image{
  width:100%;
  clip: rect(0px,150px,100px,0px)
}
.art-text{
  width:250px;
  display: none;
  top:200px;
  z-index: 2;
}

.vertical-center{
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

/* Filter Styles */
.grayscale:hover{-webkit-filter: grayscale(100%);filter: grayscale(100%);transition: 0.5s ease;}
.blur:hover {-webkit-filter: blur(3px);filter: blur(5px);transition: 0.5s ease;}
.opacity:hover{-webkit-filter: opacity(50%);filter: opacity(25%);transition: 0.5s ease;}
