<main class="general main">
  <div>
    <img class="img" src="assets/banners/lake.png"></img>
    <h1 class="margin-none pos-abs" style="top:60px;left:20px;z-index:2;">Profile</h1>
  </div>
  <aside class="float-left">
    <p class="margin-none" style="font-size:24px;margin-bottom:20px;">Hello, and welcome to my personal website! My name is Peter McBurney, and I'm a nature artist in the greater Niagara Region.</p>
    <p class="margin-none" style="font-size:24px;">I've been an artist for over four decades. Perfecting my craft through various artistic mediums.</p>
  </aside>
  <figure class="float-right">
    <img class="frame" src="assets/profile/abu.jpg" style="width:100%;height:auto;"></img>
  </figure>
</main>
