<main id="profile" class="general">
  <header class="pos-rel">
    <img src="assets/banners/loon.png"></img>
    <h1 class="margin-none pos-abs">Profile</h1>
  </header>
  <aside>
    <figure class="float-left">
      <img src="assets/profile/abu.jpg"></img>
      <figcaption><i>Peter next to 'Abu Simbel Temples', a 16"x24" (40.6x61cm) acrylic painting.</i></figcaption>
    </figure>
    <p>Peter McBurney is a nature artist in the greater Niagara Region.</p>
    <p>Peter's been an artist for over four decades &mdash; honing his craft through various artistic mediums.</p>
    <p>The paintings that Peter McBurney creates reflect that love and respect he has for nature. They are the result of countless hours of careful observation and rendering in the studio</p>
    <p>Peter was born in Niagara Falls, Ontario in 1964. He studied at the University of Guelph, where he graduated with an Honours Bachelor of Science in Biology in 1987.</p>
    <p>Peter also has a Masters of Science in Education from Canisius College in Buffalo, New York.</p>
  </aside>
  <aside>
    <figure class="float-right">
      <img src="https://s3.amazonaws.com/petermcburneyartwork/sketches/RD.jpg"></img>
      <figcaption><i>A sketch Peter drew of his friend and mentor, R.D. Lawrence.</i></figcaption>
    </figure>
    <p>A major influence in Peter’s art career is Robert Bateman. Peter drew inspiration after discovering “The World of Robert Bateman”, which inspired him to take his art more seriously. Peter has no formal training and openly admits that his painting style is based on ‘trail and error’ techniques.</p>
    <p>Another major influence in his life has been his friendship with Canadian author and naturalist R.D. Lawrence. Peter would visit Ron and his wife Sharon at their home in Haliburton, Ontario. There he could observe and photograph the wildlife in their care. “<i>Ron and I would spend hours discussing animals and how they have deeply influenced our lives.</i>” The Lawrences’ support of Peter’s artwork helped him to develop and mature as an artist.</p>

    <p>Peter has honed his skills throughout the years - maturing as an artist, and changing his style to produce well-ornated, finely-detailed drawings, paintings, and more.</p>
    <img src="assets/profile/timeline.jpg"></img>

    <p>Peter teaches high school Biology and Science at Stamford Collegiate in Niagara Falls, Ontario, where he lives with his wife Robin.</p>
    <%= link_to "Home", controller: "welcome", action: "index" %>
  </aside>
</main>
